
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;
}


.sidebar-button {
  font-size: xx-small; 
  margin-left: 1rem; 
}


.spacious-text {
  padding: 16px;
  line-height: 1.8; 
  margin-top: 16px;
  font-size: 1.125rem;
  color: #282828;
  border-radius: 8px;
}




@media only screen and (max-width: 600px) {
  :root {
    font-size: xx-small;
  }
}