@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Palette */
  --palette-bg-black: rgb(21, 26, 38);
  --palette-bg-white: #fff;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.border-custom {
  border-width: 1.24px;
}

.gradient-text {
  background: linear-gradient(145.55deg, #ECECEC 20.35%, rgba(236, 236, 236, 0) 128.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faqHeader {
  width: 706px;
  height: 64px;
  font-family: "Montserrat", sans-serif;
  gap: 8px;
}

/* Add this to your global CSS file or within a style tag in your component */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #9B30FF; /* Primary color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
